<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content='text/html;charset=utf-8'>
    <title>免费新闻API</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="Ja1wnRLz01" />
    <meta name="author" content="kissliux@qq.com">
    <meta name="keywords" content="新闻爬虫，免费，新闻api,新闻API,接口，开源">
    <meta name="description" content="免费新闻开放平台，旨在为开发者提供免费新闻API服务">
    <meta property="wb:webmaster" content="546f05fdcea47529" />
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/css/bootstrap.min.css">

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <script src="http://tjs.sjs.sinajs.cn/open/api/js/wb.js?appkey=appkey" type="text/javascript" charset="utf-8"></script>

</head>
<body>

<div class="container">

    <div class="masthead">
        <h3 class="text-muted">免费新闻API--create by liuxing</h3>
    </div>

    <!-- Jumbotron -->
    <div class="jumbotron">
        <p class="lead">本项目使用node.js抓取RSS站点新闻，抓取分析新闻的正文和图片，并对外提供统一服务接口，方便广大用户利用新闻的数据来开发自己的应用，本服务完全免费!</p>
        <p><a class="btn btn-lg btn-info" target="_blank" href="list" role="button">Try it!</a>
            <a class="btn btn-lg btn-primary" style="margin-left: 10px;" href="https://github.com/kissliux/rssSpider" role="button">star me</a></p>
    </div>

    <!-- Example row of columns -->
    <div class="panel panel-primary">
        <div class="panel-heading">1. 新闻列表API</div>
        <div class="panel-body">
            <h3>1. 客户端 GET 请求格式</h3>
            <blockquote>
                <span>示例:</span>
                <a target="_blank" href="getNewsPage?page=0&maxNums=5&typeId=1&pic=true" class="btn btn-info">demo</a>
                <p class="text-primary">http://newsapi.duapp.com/getNewsPage?page=0&maxNums=5&typeId=3&pic=true</p>
            </blockquote>

            <table class="table table-hover">
                <thead>
                <tr>
                    <th>参数名</th>
                    <th>值类型</th>
                    <th>是否必须</th>
                    <th>默认值</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>page</td>
                    <td>Int </td>
                    <td>否</td>
                    <td>0</td>
                    <td>请求新闻的页数</td>
                </tr>
                <tr>
                    <td>maxNums</td>
                    <td>Int </td>
                    <td>是</td>
                    <td>10</td>
                    <td>每页显示的新闻数量</td>
                </tr><tr>
                    <td>typeId</td>
                    <td>Int </td>
                    <td>是</td>
                    <td>1</td>
                    <td>新闻类别,比如新闻头条 typId值为1，最新新闻值为2，国际新闻 3，社会新闻值为4</td>
                </tr>
                <tr>
                    <td>pic</td>
                    <td>Boolean</td>
                    <td>否</td>
                    <td>false</td>
                    <td>pic等于true 则返回图片的地址，其他情况不会返回图片</td>
                </tr>
                </tbody>
            </table>
        </div>

        <h3>1.1  新闻列表--服务器端响应(json格式)</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>参数名</th>
                <th>值类型</th>
                <th>描述</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>title</td>
                <td>String</td>
                <td>新闻标题</td>
            </tr>
            <tr>
                <td>pubDate</td>
                <td>String</td>
                <td>新闻发布日期</td>
            </tr>
            <tr>
                <td>typeId </td>
                <td>Number</td>
                <td>类型编号</td>
            </tr>
            <tr>
                <td>_id</td>
                <td>String</td>
                <td>新闻编号</td>
            </tr>
            <tr>
                <td>page</td>
                <td>Number</td>
                <td>当前页数</td>
            </tr>
            <tr>
                <td>descImg</td>
                <td>String</td>
                <td>新闻编号</td>
            </tr>


            </tbody>
        </table>

    </div>


    <div class="panel panel-primary">
        <div class="panel-heading">1. 新闻正文API</div>
        <div class="panel-body">
            <h3>2. 客户端 GET 请求格式</h3>
            <blockquote>
                <span>示例:(或许你需要改变 id的值，id的值见post表)</span>
                <a target="_blank" href="newsRecord?userId=liux&id=533674ee4e06651ceba21fd4&jsonData=true" class="btn btn-info">demo</a>
                <p class="text-primary">http://newsapi.duapp.com/newsRecord?userId=liux&id=533674ee4e06651ceba21fd4&jsonData=true</p>
            </blockquote>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>参数名</th>
                    <th>值类型</th>
                    <th>是否必须</th>
                    <th>默认值</th>
                    <th>描述</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>id</td>
                    <td>String</td>
                    <td>是</td>
                    <td>无</td>
                    <td>新闻编号 _id</td>
                </tr>
                <tr>
                    <td>jsonData</td>
                    <td>boolean</td>
                    <td>否</td>
                    <td>false</td>
                    <td>值为true,则返回json格式数据，否则返回html网页格式数据</td>
                </tr>
                <tr>
                    <td>userId</td>
                    <td>String</td>
                    <td>否</td>
                    <td>无</td>
                    <td>用户的标志,统计用户访问习惯</td>
                </tr>
                </tbody>
            </table>
        </div>
        <h3>2.1  新闻正文--服务器端响应 (json格式)</h3>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>参数名</th>
                <th>值类型</th>
                <th>描述</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>title</td>
                <td>String</td>
                <td>新闻标题</td>
            </tr>
            <tr>
                <td>context</td>
                <td>String</td>
                <td>新闻正文</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="row " style="padding-top: 20px;" >
        <p class="text-danger" style="font-size: 15px;"></p>
    </div>
    <h2 style="margin-top: 50px;">If you have any question,please tell me.</h2>
    <div class="alert alert-success">目前抓取的新闻类型只包含四类，头条、最新，国际、社会,如果觉得新闻类别偏少，或者其他任何问题，请直接联系我:  <a href="kissliux@qq.com">kissliux@qq.com</a></div>



    <!-- Site footer -->
    <div class="footer">
        <p>&copy; Design and coding with all the love in the world by liuxing</p>
    </div>

</div> <!-- /container -->

<script src="http://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>
</html>