<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content='text/html;charset=utf-8'>
    <title>新闻播报</title>
    <meta name="baidu-site-verification" content="Ja1wnRLz01" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="kissliux@qq.com">
    <meta name="keywords" content="新闻爬虫，免费，新闻api,新闻API,接口，开源">
    <meta name="description" content="免费新闻开放平台，旨在为开发者提供免费新闻API服务">

    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <style>
        a{
            text-decoration: none;
        }
        .typeName{
            color:#be2c37;
        }
        .news_list{
            clear:left;
        }
        .news_list ul li{
            clear:left;
            height: 56px;
            border-bottom: 1px solid #efefef;
            padding: 10px 0;
        }

        .news_list ul li a{
            vertical-align: top;
            height:auto;display:inline;
        }
        .news_list ul li img{
            width:70px;
            height:52px;
            padding-right: 10px;
            float: left;

        }
        .news_list ul li .news_item{
            width: 70%;
            margin-top: 0px;
            position: relative;
            float: left;
        }


        .news_list ul li p{
            line-height: 16px;
            margin-left: 3px;
            height: 40px;
            overflow: hidden;
        }

    </style>
</head>
<body>
<div class="container">
    <% for(var j=0;j<newsList.length;j++){%>
    <div class="columns seven">
        <h4 class="columns seven typeName"><%=newsList[j].typeName %></h4>
        <div class="columns seven news_list">
            <ul>
                <% for(var i=0; i<newsList[j].posts.length; i++) {%>
                <li class="">  <a href="newsRecord?userId=liux&id=<%=newsList[j].posts[i]._id %>" class="columns seven" target="_blank">
                        <img src="<%= newsList[j].posts[i].descImg%>"/>
                        <div class="news_item">
                            <p ><%= newsList[j].posts[i].title %></p>
                        </div>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
    <%}%>
</div>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-49239958-1', '58.60.184.212:8002');
    ga('send', 'pageview');

</script>
</body>
</html>