<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content='text/html;charset=utf-8'>
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico">
</head>
<body>
<div class="container">
    <h3 class="column twelve"><%=title %></h3>
    <div class="column twelve">
        <%-content %>
    </div>
</div>

</body>
</html>