<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content='text/html;charset=utf-8'>
    <title><%=title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="baidu-site-verification" content="Ja1wnRLz01" />
    <meta name="author" content="kissliux@qq.com">
    <meta name="keywords" content="新闻爬虫，免费，新闻api,新闻API,接口，开源">
    <meta name="description" content="免费新闻开放平台，旨在为开发者提供免费新闻API服务">
    <link rel="stylesheet" href="stylesheets/base.css">
    <link rel="stylesheet" href="stylesheets/skeleton.css">
    <link rel="stylesheet" href="stylesheets/layout.css">
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="images/favicon.ico">
    <style type="text/css">
        img{
            width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
<div class="container">
    <h3 class="column twelve"><%=title %></h3>
    <div class="column twelve">
        <%-content %>
    </div>
</div>
</body>
</html>